body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:1.5;
  padding: 10px;
  margin: 10px;
  background-color: goldenrod
}

ul{
  margin: 10;
  padding: 10;
}

.choice {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    flex-wrap: center  
  }
  
  .selected {
    height: 200px;
    width: 200px;
    border-radius: 50px;
  }
  
  .hide {
    display: none;
  }
  
  .container {
    padding-top: 500px;
    display: auto;
    justify-content: flex-start;
  }
  